.moon{
    z-index: -1;
    top: -3em;
    right: -3em;
    width: 13em;
    height: 13em;
    opacity: 0.7;
    border-radius: 13em;
    background: linear-gradient(gray, lightgray);
    transform: rotateY(0deg) rotate(45deg);
    overflow: hidden;
}

.dot1 {
  z-index: -1;
  top: -3em;
  left: -3em;
  width: 0.5em;
  height: 0.5em;
  opacity: 0.7;
  border-radius: 0.5em;
  background: linear-gradient(lightgray, gray);
  animation-delay: 2.2s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translate(-10em, 0);
}

.dot2 {
  z-index: -1;
  top: -3em;
  left: -3em;
  width: 1em;
  height: 1em;
  opacity: 0.7;
  border-radius: 1em;
  background: linear-gradient(lightgray, gray);
  animation-delay: 0.2s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translate(-10em, 0);
}

.dot3 {
  z-index: -1;
  top: -3em;
  left: -3em;
  width: 2em;
  height: 2em;
  opacity: 0.7;
  border-radius: 2em;
  background: linear-gradient(lightgray, gray);
  animation-delay: 1s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translate(-10em, 0);
}

.dot4 {
  z-index: -1;
  top: -3em;
  left: -3em;
  width: 1.5em;
  height: 1.5em;
  opacity: 0.7;
  border-radius: 1.5em;
  animation-delay: 4s;
  background: linear-gradient(lightgray, gray);
  animation-duration: 5s;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translate(-10em, 0);
}

.dot5 {
  z-index: -1;
  top: -3em;
  left: -9em;
  width: 2.5em;
  height: 2.5em;
  opacity: 0.7;
  border-radius: 2.5em;
  animation-delay: 3.2s;
  background: linear-gradient(lightgray, gray);
  animation-duration: 5s;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translate(-10em, 0);
}

.dot6 {

  top: -3em;
  left: -3em;
  width: 0.5em;
  height: 0.5em;
  opacity: 0.7;
  border-radius: 0.5em;
  background: linear-gradient(lightgray, gray);
  animation-delay: 2.1s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translate(-10em, 0);
}

.dot7 {

  top: -3em;
  left: -3em;
  width: 2em;
  height: 2em;
  opacity: 0.7;
  border-radius: 2em;
  background: linear-gradient(lightgray, gray);
  animation-delay: 1.8s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translate(-10em, 0);
}

.dot8 {

  top: -3em;
  left: -3em;
  width: 1.5em;
  height: 1.5em;
  opacity: 0.7;
  border-radius: 1.5em;
  background: linear-gradient(lightgray, gray);
  animation-delay: 2.6s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translate(-10em, 0);
}

@keyframes slidein {
  from {
    transform: translate(calc(13em/-2), calc(13em/20));
  }

  to {
    transform: translate(calc(13em*1.5), calc(13em/20));
  }
}